<div class="mainLanding">
    <h2>Welcome to</h2>
    <h1>Score City</h2>
    <p>Your all-time soccer tracker and news platform</p>
    <div class="ctaBtnBox">
        <a href="login.html" class="ctaBtn signupBtn">Signup</a>
    </div>
</div>